<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwitterApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TwitterApi.Properties.Settings>
            <setting name="OauthConsumerKey" serializeAs="String">
                <value>oX6orVxMsRFycNZtr5hGBFVr3</value>
            </setting>
            <setting name="OauthConsumerSecret" serializeAs="String">
                <value>wU8VUptvBeMUGra0y4b9beP3FiNuwhBtQeUH5VQpdasC7Syz3e</value>
            </setting>
            <setting name="OauthToken" serializeAs="String">
                <value>1125129223-L4MrcLzYYZf80ha3BkES4tQUTlHE0oEFOOJSYnq</value>
            </setting>
            <setting name="OauthTokenSecret" serializeAs="String">
                <value>cSfUvLOrUBEE3TJHMEpSOhe6Zf4YDuVCYHbXTCgdN3kQI</value>
            </setting>
        </TwitterApi.Properties.Settings>
    </userSettings>
</configuration>